@model Payasos.Core.Entities.PromotionRequest

@{
    ViewData["Title"] = $"Запрос №{Model.Id}";
}

<h1>Пока не готов</h1>
<p>На этой странице сотрудник может посмотреть результат, а экзаменатор выставить оценку</p>