@model Payasos.Core.ViewModels.OrganisationSettingsViewModel

@{
    ViewData["Title"] = "Настройки организации";
}

<form asp-action="ChangeInfo" method="post" style="margin-top: 32px;" class="mx-5">
    <div class="my-3">
        <label class="text-lg">Название организации:</label>
        <input type="text" asp-for="OrgName" class="mx-10 border border-neutral-800 rounded-md text-center text-lg" placeholder="Название организации">
        <span asp-validation-for="OrgName" class="text-red-500"></span>
    </div>
    <div class="my-3">
        <label class="text-lg">Пригласительный код:</label>
        <input type="text" asp-for="InviteCode" style="padding-left: 3px" class="mx-12 border border-neutral-800 rounded-md text-center text-lg" placeholder="Пригласительный код">
        <span asp-validation-for="InviteCode" class="text-red-500 mx-5"></span>
    </div>
    <input type="submit" value="Изменить" style="width: 230px; height: 40px" class="border border-green-600 text-black hover:bg-green-600 hover:text-white rounded-md text-center text-lg">
</form>
<form asp-action="AddRole" method="post" class="my-5 mx-6">
    <h1 class="text-lg">Добавление роли</h1>
    <input type="text" name="role" id="role" placeholder="Название роли" required="required" class="border border-neutral-800 rounded text-lg text-center">
    <input type="submit" value="Добавить роль" style="width: 230px; height: 40px" class="mx-9 my-3 border border-green-600 text-black hover:bg-green-600 hover:text-white rounded-md text-center text-lg">
</form>
<div asp-validation-summary="All" class="text-red-500 mx-5"></div>
@if (Model?.Roles != null)
{
    <table style="width: 500px" class="mx-5 border border-neutral-200 rounded-md">
        <thead class="my-3 bg-neutral-600 rounded-md">
        <tr>
            <td class="text-lg text-white text-center py-2">Роли</td>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-400 my-2 text-lg">
        @foreach (var role in Model.Roles)
        {
            <tr class="mt-3 text-base text-center text-black text-lg">
                <td>@role</td>
            </tr>
        }
        </tbody>
    </table>
}