@model Payasos.Core.ViewModels.OrganisationSettingsViewModel

@{
    ViewData["Title"] = "Настройки организации";
}

<form asp-action="ChangeInfo" method="post" style="margin-top: 32px;" class="mx-5">
    <div class="my-3  ">
        <label class="text-lg">Название организации:</label>
        <input type="text" asp-for="OrgName" class="mx-3 border border-green-400 rounded-md text-center text-lg" placeholder="Название организации">
        <span asp-validation-for="OrgName" class="text-red-500"></span>
    </div>
    <div>
        <label>Пригласительный код</label>
        <input type="text" asp-for="InviteCode" placeholder="Пригласительный код">
        <span asp-validation-for="InviteCode" class="text-red-500"></span>
    </div>
    <input type="submit" value="Изменить">
</form>
<form asp-action="AddRole" method="post" class="my-5 mx-5">
    <h1>Добавление роли</h1>
    <input type="text" name="role" id="role" placeholder="Название роли">
    <input type="submit" value="Добавить роль">
</form>
<div asp-validation-summary="All" class="text-red-500"></div>
@if (Model?.Roles != null)
{
    <table>
        <thead>
        <tr>
            <td>Роли</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role</td>
            </tr>
        }
        </tbody>
    </table>
}
