@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    сервис, который помог бы решить актуальную в наше время проблему – контроль сотрудников и взаимодействие с ними. Сейчас большинство современных компаний переходят в цифровой режим, это означает, что все способы и методы управления тем же персоналом должны быть также перенесены. Каждая из этих компаний потратит уйму времени на создание подобного продукта, ведь это что-то новое и мало кто знает, как оно должно выглядеть. Куда проще будет взять готовое, стандартизированное решение и уже пользоваться им. Простыми словами, наша команда делает сервис, который позволяет дистанционно управлять своей организацией удобными инструментами (просмотр информации о компаниях, администрирование, взаимодействие сотрудников между собой и даже повышение квалификации).
    Рассмотрим цели более детально.
</div>