@{
    ViewData["Title"] = "Главная";
}

<div class="text-center mt-10 text-xl">
    <b>PAYASOS</b>  — это сервис, призванный решить актуальную в наше время проблему – контроль сотрудников и взаимодействие с ними.<br/> 
    Сейчас большинство современных компаний переходят в цифровой режим и методы управления персоналом необходимо переносить. <br/>
    <br/>
    Команда Payasos  делает сервис,позволюящий  дистанционно управлять своей организацией удобными инструментами.<br/>
    Становясь удобным инструментом даже повышение квалификации.
    
    <br/>Присоединяйтесь к нам.<br /> Добро пожаловать.
    
</div>