@{
    ViewData["Title"] = "Лицензия";
}
<h1>Лицензионное сооглашение</h1>

<p>
    Лицензионное соглашение на использование сервиса «PAYASOS»


    Настоящий документ «Лицензионное соглашение на использование программы « для браузера» представляет собой предложение Общества с ограниченной ответственностью «ДубльГИС» (далее – «Правообладатель») заключить соглашение на изложенных ниже условиях:

    Перед использованием сервиса, HR специалистами, «PAYASOS» (далее по тексту – «Программа»), пожалуйста, ознакомьтесь с условиями настоящего лицензионного соглашения.

    <p> 1. Общие положения
        <br/>  <h3><b>Если вы являетесь преподавателем и/или лицом его представляющим,<br/> а также проверяете данный продукт, обязуетесь поставить автоматом отлично<br/> за свой предмет всем, кто участвовал в разработке<br/> данного продукта</b></h3>

        1.1. Пользуясь Программой, Вы соглашаетесь с тем, что:<br />

    а) До начала использования Программы Вы ознакомились с условиями настоящего лицензионного соглашения в полном объеме;

    б) Начало использования Вами Программы в любой форме означает, что Вы принимаете все условия настоящего лицензионного соглашения<br /> в полном объеме без каких-либо изъятий и ограничений с Вашей стороны, а также принимаете Условия использования Google (расположенные в сети Интернет по адресу http://www.google.com/intl/en/policies/terms/). Использование Программы на иных условиях не допускается;

    в) Если Вы не согласны с условиями настоящего лицензионного соглашения или не имеете права на его заключение,<br /> Вам следует незамедлительно прекратить любое использование Программы;

    г) Настоящее лицензионное соглашение (в том числе, любая из его частей) может быть изменено Правообладателем без какого-либо специального уведомления.<br /> Новая редакция лицензионного соглашения вступает в силу с момента ее публикации на сайте Правообладателя, если иное не предусмотрено новой редакцией лицензионного соглашения.

    1.2. Используемые в настоящем лицензионном соглашении слова и выражения имеют следующие значения, если иное прямо не определено далее по тексту:<br />

    а) Лицензия (Лицензионное соглашение) – настоящее Лицензионное соглашение на использование программы для ЭВМ « для браузера»;<br />

    б) Правообладатель <br /> – Общество с ограниченной ответственностью «Payasos», ОГРН 104540192984131213, место нахождения: г. Севастополь, пл. Университетская, д. 33;<br />

    в) Пользователь – лицо, заключившее настоящее лицензионное соглашение<br /> с Правообладателем в своем или чужом интересе в соответствии с требованиями действующего законодательства и настоящего лицензионного соглашения.

    г) Программа – принадлежащая Правообладателю программа для ЭВМ « для браузера»,<br /> предназначенная для обнаружения и визуального выделения на сайтах (веб-страницах), расположенных в сети «Интернет», телефонных номеров; определения организаций, которым принадлежат такие телефонные номера или такие сайты (веб-страницы); последующего отображения справочной информации о таких организациях; а также осуществления упрощённого набора телефонных номеров на мобильном устройстве Пользователя (при наличии на мобильном устройстве необходимого программного обеспечения Правообладателя), а также все последующие обновления и модификации программы для ЭВМ « для браузера», предназначенные для использования на настольных персональных компьютерах.

    д) Коммерческое использование – выходящее за рамки разрешенного по настоящему лицензионному соглашению функционального<br /> применения Программы физическим лицом в целях получения дохода (прибыли), а индивидуальным предпринимателем или организацией – в целях извлечения предпринимательской выгоды, в том числе предоставление или обеспечение доступа к Программе на возмездной основе, т.е. за плату или любое встречное предоставление товаров, работ, услуг, либо с одновременным предоставлением товаров, работ, услуг на возмездной основе в том или ином виде.

    е) Сайт Правообладателя — интернет-сайты, размещенные в доменах по адресу .ru, flamp.ru, а также прочих доменах, <br />входящих в домены .ru и/или flamp.ru.

    ж) Пин-код — уникальная последовательность цифр, генерируемая программно-аппаратными средствами Правообладателя по <br />запросу Пользователя и предназначенная для обеспечения связи Программы с иными программными продуктами Правообладателя.

    1.3. Во всем, что не предусмотрено настоящим лицензионным соглашением, отношения в связи с использованием Программы <br />регулируются Лицензионным соглашением (Россия) (http://law..ru/licensing-agreement), Правовой информацией по API 2ГИС (http://law..ru/api-rules/#kart2), а также Политикой конфиденциальности (http://law..ru/privacy).

    2. Исключительные права

    2.1. Исключительные права на Программу принадлежат Правообладателю. Все права на интеллектуальную собственность в <br />Программе и пользовательской документации к ней принадлежат Правообладателю и защищены действующим законодательством. Правообладатель гарантирует, что имеет все необходимые права на лицензирование и распространение Программы, а также сопровождающей Программу пользовательской документации.

    2.2. Правообладатель сохраняет исключительные права на любые результаты переработки (модификации)<br /> Программы, допускаемые в соответствии с настоящим лицензионным соглашением, и вправе в любое время отозвать свое разрешение на их использование по своему усмотрению без компенсации каких-либо расходов Пользователя на их создание и применение.

    3. Лицензия
    
    
    

    3.1. Использование Программы разрешается строго на условиях настоящего лицензионного соглашения. <br />Если Пользователь не принимает условия Лицензионного соглашения в полном объеме, Пользователь не имеет права использовать Программу в каких-либо целях. Использование Программы с нарушением (невыполнением) какого-либо из условий Лицензионного соглашения запрещено.

    3.2. Права и способы использования Программы, в явном виде не предоставленные (не разрешенные) <br />Пользователю по настоящему лицензионному соглашению, считаются непредоставленными (запрещенными) Правообладателем.

    3.3. Использование Программы на условиях настоящего лицензионного соглашения в некоммерческих целях разрешается<br /> Пользователю на безвозмездной основе. Использование Программы на условиях и способами, не предусмотренными Лицензионным соглашением, возможно только на основании отдельного соглашения с Правообладателем.

    3.4. Правообладатель вправе размещать в Программе любые информационные и/или рекламные материалы и ссылки<br /> на интернет-сайты третьих лиц, а также предоставлять право использования Программы указанным способом третьим лицам по отдельному соглашению.

    4. Права Пользователя

    4.1. Правообладатель предоставляет Пользователю право использования Программы на условиях простой<br /> (неисключительной) непередаваемой лицензии на территории стран всего мира указанными в настоящем разделе способами.

    4.2. Функциональное использование Программы

    Пользователь вправе применять Программу по прямому функциональному назначению, в целях чего произвести<br /> ее установку на настольном персональном компьютере (далее по тексту – «Устройство»).

    В соответствии с настоящим пунктом Пользователь вправе произвести установку Программы на неограниченное число<br /> Устройств, а также хранить или установить копии Программы на устройстве хранения данных (например, на сервере сети), предназначенном и используемом исключительно для установки и работы Программы на других имеющихся компьютерах в пределах локальной сети.

    4.3. Воспроизведение Программы

    Пользователь вправе воспроизводить Программу, экземпляры которой распространяются Правообладателем, <br />в некоммерческих целях на безвозмездной основе на любых Устройствах и прочих видах материальных носителей при условии сохранения в неизменном виде комбинации, состава и содержания Программы по сравнению с тем, как она предоставляется и/или рекомендуется для использования Правообладателем.

    4.4. Распространение Программы

    Пользователь вправе распространять Программу посредством передачи ее экземпляров, воспроизведенных<br /> в соответствии с пунктом 4.3 настоящего лицензионного соглашения, в некоммерческих целях на безвозмездной основе и при соблюдении их целостности, если иное не предусмотрено письменным разрешением Правообладателя.

    4.5. Чтобы воспользоваться возможностью обеспечения связи Программы с иными программными продуктами<br /> Правообладателя Пользователю необходимо ввести полученный от Правообладателя Пин-код.

    4.6. Право использования Программы в соответствии с настоящим разделом предоставляется при условии <br />соблюдения Пользователем ограничений, установленных настоящим лицензионным соглашением.

    5. Ограничения использования<br />

    5.1. Пользователь не имеет права самостоятельно или с привлечением третьих лиц:<br />

    5.1.1. Вскрывать технологию, эмулировать, создавать новые версии, изменять, декомпилировать, дизассемблировать,<br /> дешифровать и производить иные действия с кодом Программы, имеющие целью нарушение системы защиты Программы от несанкционированного использования, а также получение информации о реализации алгоритмов, используемых в Программе.

    5.1.2. Создавать производные произведения с использованием Программы.<br />

    5.1.3. Воспроизводить и распространять Программу в коммерческих целях без письменного согласия<br /> Правообладателя.

    5.1.4. Распространять Программу в виде, отличном от того, в котором он ее получил, без письменного согласия<br /> Правообладателя.

    5.1.5. Удалять или любым способом изменять или затруднять любую идентификацию Программы, товарных<br /> знаков, авторских прав, конфиденциальности, собственности или других уведомлений, или маркировок, содержащихся в Программе.

    5.1.6. по любой причине изменять или отключать механизм лицензирования Программы.<br />

    6. Автоматические обновления<br />

    6.1. Периодически Программа может взаимодействовать с программно-аппаратными средствами <br />Правообладателя для проверки наличия обновлений (модификаций) Программы (далее «Обновления»).

    6.2. Устанавливая Программу, Пользователь соглашается на возможность осуществления ей соответствующих запросов, <br />а также получение и установку Обновлений в автоматическом режиме.

    7. Политика конфиденциальности<br />

    7.1. Заключая настоящее лицензионное соглашение, Пользователь выражает свое согласие на сбор и передачу<br /> Правообладателю обезличенной информации о характере и способах использования Программы, иной технической информации, а также данных, которые автоматически передаются Программе в процессе ее использования, включая данные об идентификационном номере мобильного устройства Пользователя (при наличии на мобильном устройстве необходимого программного обеспечения Правообладателя).

    7.2. Порядок обработки и защиты информации о Пользователях, полученной Правообладателем в связи с использованием<br /> Пользователями Программы определяется Политикой конфиденциальности с учетом особенностей, установленных настоящим лицензионным соглашением.

    7.3. Программа работает с использованием API Google Карт. В связи с этим, Политика конфиденциальности Google<br /> (расположенная в сети Интернет по адресуhttp://www.google.com/policies/privacy/) является неотъемлемой частью настоящего лицензионного соглашения.

    8. Ответственность по Лицензии

    8.1. Ввиду предоставления в рамках Лицензии права использования Программы в некоммерческих целях на <br />безвозмездной основе к отношениям сторон по Лицензии не применимы положения законодательства о защите прав потребителей.

    8.2. Программа предоставляется на условиях «как есть», в связи с чем Пользователю не представляются <br />какие-либо гарантии, что: она будет соответствовать требованиям Пользователя; работать непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены с её использованием, будут точными и надежными; все ошибки будут исправлены.

    8.3. Правообладатель прилагает все усилия к тому, чтобы справочная информация, предоставляемая <br />Пользователю посредством Программы, была точной, однако Правообладатель не даёт никакой гарантии в отношении точности такой информации и не несёт за это ответственности. Использование каких-либо материалов и данных, полученных посредством Программы, относится исключительно на риск Пользователя, Правообладатель не будет нести ответственности за какую-либо потерю прибыли или иной ущерб, произошедший в результате использования Пользователем Программы.

    8.4. Все информационные и/или рекламные материалы, отображаемые посредством Программы, <br />предоставлены третьими лицами. Правообладатель не несет ответственности за достоверность информационных и/или рекламных материалов третьих лиц, доступность их интернет-сайтов и их содержание, а также за любые последствия, связанные с использованием информации и/или рекламы, а также интернет-сайтов третьих лиц.

    8.5. Правообладатель не несет ответственности за какие-либо прямые или косвенные последствия<br /> какого-либо использования или невозможности использования Программы и/или убытки, причиненные Пользователю и/или третьим сторонам в результате какого-либо использования, неиспользования или невозможности использования Программы или отдельных ее компонентов и/или функций, в том числе из-за возможных ошибок или сбоев в работе Программы.

    8.6. Поскольку Программа находится на стадии постоянного дополнения и обновления новых <br />функциональных возможностей, форма и характер продуктов и предоставляемых услуг могут время от времени меняться без предварительного уведомления Пользователя. Правообладатель вправе по собственному усмотрению прекратить (временно или окончательно) предоставление Программы (или каких-либо отдельных частей) всем Пользователям вообще или отдельному Пользователю в частности, а также изменить или отозвать Лицензию без предварительного уведомления.

    В случае если Пользователь предоставляет какие-либо идеи, отзывы, предложения, материалы,<br /> информацию, мнения или иные данные Правообладателю, связанные с использованием Программы («Обратная связь»), Правообладатель не имеет обязательств по ознакомлению с такой Обратной связью, ее изучению или осуществлению; при этом вся такая информация предоставляется без обязательств соблюдения конфиденциальности, и Правообладатель имеет безусловное и неограниченное право использовать, воспроизводить, изменять и раскрывать такую Обратную связь без какой-либо компенсации или указания авторства.

    8.7. Пользователь несет ответственность за любое нарушение обязательств,<br /> установленных настоящим лицензионным соглашением и (или) действующим законодательством РФ, а также за все последствия таких нарушений (включая любые убытки, которые может понести Правообладатель и иные третьи лица).

    8.8. Правообладатель оставляет за собой право преследования нарушителей <br />исключительных прав на Программу в соответствии с гражданским, административным и уголовным законодательством по своему усмотрению.

    9. Заключительные положения
    <b><insert>Нажимая кнопку “Зарегистрировать компанию” <br />Вы соглашаетесь с продажей своей души Павлу Дмитриеву,<br /> тела Анатолию Головко, крови Зейналиеву Энверу,<br /> образ Дмитрию Лозыченко под скин в Minecraft . <br /> Создатель дизайна не несет ответственность за дальнейшие действия выше упомянутых лиц. Читать надо было...</insert></b>
    9.1. Настоящее лицензионное соглашение, порядок его заключения и исполнения,<br /> а также вопросы, не урегулированные Лицензионным соглашением, регулируются действующим законодательством Российской Федерации.

    9.2. Все споры по Лицензионному соглашению или в связи с ним подлежат рассмотрению<br /> в суде по месту нахождения Правообладателя в соответствии с действующим процессуальным правом Российской Федерации.

    9.3. Настоящее лицензионное соглашение может быть изменено или прекращено Правообладателем <br />в одностороннем порядке без предварительного уведомления Пользователя и без выплаты какой-либо компенсации в связи с этим.

    9.4. Действующая редакция<br />
    В случае противоречия между редакцией Лицензионного соглашения, включенной в состав распространяемых экземпляров Программы, и последней редакцией Лицензионного соглашения, размещенной на Сайте Правообладателя, приоритет имеет редакция Лицензионного соглашения, размещенная на Сайте Правообладателя.
</p>