@model Payasos.Core.ViewModels.RegisterViewModel
@section Styles
{
    <link  rel="stylesheet" href="/css/compRegisterPage.css" asp-append-version="true"/>
}
<div id="main_container">
    <div id="header">
        <h1>Registration user page</h1>
    </div>
<div id="comp_registerForm">
    <form method="post" class="reg_input_forms">
        <input asp-for="FirstName" type="text" placeholder="Фамилия">
        <input asp-for="LastName" type="text" placeholder="Имя">
        <input asp-for="SecondName" type="text" placeholder="Категория деятельности">
        <input asp-for="Email" type="email" placeholder="Email адрес">
        <input asp-for="Password" type="password" placeholder="Пароль">
        <input id="reg_btn" type="submit" value="Зарегистрироваться">
        <br />
        <label><input type="checkbox" value="Value">Я принимаю лицензионное сооглашение</label>
    </form>
</div>
</div>    