@model Payasos.Core.ViewModels.RegisterUserViewModel

<div class="mt-5 min-h-screen flex items-center justify-center bg-green-100">
<div class="bg-green-400 p-8 rounded-lg shadow-3x2 w-2/6 flex items-center justify-center">
    <form method="post" asp-action="RegisterUserPost" class="space-y-4 ">
        
        <h2 class="text-3x1 font-bold mt-2 text-neutral-800 md:text-center">Создайте свой аккаунт</h2>
        <div>
            <input asp-for="Code" type="text" class="border border-green-500 py-1 px-4 w-full rounded-md" placeholder="Пригласительный код" >
        </div>
        <div>
            <input asp-for="FirstName" type="text" class="border border-green-500 py-1 px-4 w-full rounded-md" placeholder="Фамилия">
        </div>
        <div>
            <input asp-for="LastName" type="text"  class="border border-green-500 py-1 px-4 w-full rounded-md" placeholder="Имя">
        </div>
        <div>
            <input asp-for="SecondName" type="text" class="border border-green-500 py-1 px-4 w-full rounded-md" placeholder="Отчество">
        </div>
        <div>
            <input asp-for="Email" type="email" class="border border-green-500 py-1 px-4 w-full rounded-md" placeholder="Email адрес">
        </div>
        <div>
            <input asp-for="Password" type="password" class="border border-green-500 py-1 px-4 w-full rounded-md" placeholder="Пароль">
        </div>
        <div>
            <input id="reg_btn" type="submit" class="py-1 px-4 w-full rounded-md bg-sky-600 text-neutral-800" value="Регистрация">
        </div>
        <br/>
        <label><input  class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-500
 checked:border-green-600 focus:outline-none transition duration-200 mt-1 align-top
 bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="Value">Я принимаю лицензионное соглашение</label>
    </form>
</div>
</div>    